@tailwind base;
@tailwind components;
@tailwind utilities;

/* Hide scrollbars everywhere */
* {
  scrollbar-width: none;
  -ms-overflow-style: none;
}
*::-webkit-scrollbar {
  display: none;
}

@layer base {
  *,
  ::before,
  ::after {
    @apply border-gray-200;
  }

  body {
    @apply font-cooper;
  }
}

body {
  @apply text-sm text-gray-600 bg-salt;
}

h1 {
  @apply font-bold text-2xl text-gray-900;
}

h2 {
  @apply font-bold text-xl text-gray-900;
}

h3 {
  @apply font-bold text-lg text-gray-900;
}

h4 {
  @apply font-bold text-base text-gray-900;
}

p {
  @apply font-light;
}

/* Slick slider overrides */
.vision-slider .slick-prev,
.vision-slider .slick-next {
  z-index: 10;
}
.vision-slider .slick-prev {
  left: 0;
}
.vision-slider .slick-next {
  right: 0;
}
.vision-slider .slick-dots li button:before {
  font-size: 10px;
}
